<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Calculadora </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked"></ion-label>
    <ion-input type="number" [(ngModel)]="valor1"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Segundo valor</ion-label>
    <ion-input type="number" [(ngModel)]="valor2"></ion-input>
  </ion-item>
  <p>Operaciones</p>
  <ion-list>
    <ion-item>
      <ion-label>Sumar</ion-label>
      <ion-checkbox
        [(ngModel)]="sumar"
        color="primary"
        slot="start"
      ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Restar</ion-label>
      <ion-checkbox
        [(ngModel)]="restar"
        color="primary"
        slot="start"
      ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Multiplicar</ion-label>
      <ion-checkbox
        [(ngModel)]="multiplicar"
        color="primary"
        slot="start"
      ></ion-checkbox>
    </ion-item>
    <ion-item>
      <ion-label>Dividir</ion-label>
      <ion-checkbox
        [(ngModel)]="dividir"
        color="primary"
        slot="start"
      ></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-button expand="block" color="primary" (click)="Calcular()"
    >Calcular</ion-button
  >
  <p><span [innerHTML]="resultado"></span></p>
</ion-content>
